<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/component/bootstrap-datetimepicker@4.7.14/bootstrap-datetimepicker.min.css}">
    <style>
        .modal-body{
            padding-bottom: 0;
        }
        #statusSelect {
            height: 39px;
            padding-top: 5px;
        }
        #yearSelect{
            height: 39px;
            padding-top: 5px;
        }
        input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
        input[type="number"] {
            -moz-appearance: textfield;
        }

    </style>
</head>
<body>
<div id="fir_body">
    <div class="row test-border" id="accordion2" >
        <div class="col-lg-4 col-md-4" >
            <div class="input-group mb-4" >
                <div class="input-group-prepend" style="position: relative;top: 7px;">
                    <span class="input-text" >年份：</span>
                </div>
                <select  class="custom-select" id="yearSelect" ></select>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="input-group mb-4">
                <div class="input-group-prepend" style="position: relative;top: 7px;">
                    <span class="input-text" >状态：</span>
                </div>
                <select class="custom-select" id="statusSelect" ></select>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="btnSearch" style="z-index: 1;">搜索</span>
                </div>
            </div>
        </div>


        <div class="col-lg-2 col-md-2"></div>
        <div class="col-lg-2 col-md-2" >
            <button type="button" id="btn_addTask" class="btn btn-danger ml-3" style="display: none">维护专家号源</button>
        </div>
    </div>

    <div class="col-lg-12" style="border-top: 10px solid #f7efeb;">
        <table id="table"></table>
    </div>


    <!-- Modal -->




</div>

</body>
<script type="text/javascript" data-main="/main/main.js" th:src="@{/component/require@2.3.6/require-2.3.6.js}"></script>
</html>