<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_1805932_ysrcp4y0uy9.css">
    <style>
        label {
            text-align: right;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }

        input[type="number"] {
            -moz-appearance: textfield;
        }
    </style>
    <script>
        function noNumbers(e) {
            var keynum
            var keychar
            if (window.event) // IE
            {
                keynum = e.keyCode
            } else if (e.which) // Netscape/Firefox/Opera
            {
                keynum = e.which
            }
            keychar = String.fromCharCode(keynum);
            //判断是数字,且小数点后面只保留两位小数
            if (!isNaN(keychar)) {
                var index = e.currentTarget.value.indexOf(".");
                if (index >= 0 && e.currentTarget.value.length - index > 2) {
                    return false;
                }
                if (e.currentTarget.value === '0'){
                    return false;
                }
                return true;
            }
            //如果是小数点 但不能出现多个 且第一位不能是小数点
            if ("." == keychar) {
                if (e.currentTarget.value == "") {
                    return false;
                }
                if (e.currentTarget.value.indexOf(".") >= 0) {
                    return false;
                }
                return true;
            }
            return false;
        }
    </script>
</head>
<body>
<div id="fir_body">
    <div class="row">
        <div class="col-12">
            <div class="titleCSS">新增开展项目信息</div>
            <form>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"><span style="color: red">*</span>开展项目名称：</label>
                    <div class="col-sm-3">
                        <input id="name" type="text" class="form-control" placeholder="请输入">
                    </div>
                    <label class="col-sm-2 col-form-label"><span style="color: red">*</span>开展项目价格(元)：</label>
                    <div class="col-sm-3">
                        <span style="color: #D60000;position: absolute;top: 0.2rem;left: 1rem;font-size: 23px;">￥</span>
                        <input id="price" onkeypress="return noNumbers(event)"
                               type="number" step="0.01" class="form-control" placeholder="请输入"
                               style="text-indent: 0.5rem;">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"><span style="color: red">*</span>开展项目简介：</label>
                    <div id="div1" class="col-sm-8">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="exampleFormControlFile1" class="col-sm-2 col-form-label"><span style="color: red">*</span>照片：</label>
                    <div class="upload-content" data-limit="5">
                        <div class="content-img">
                            <ul class="content-img-list"></ul>
                            <div class="file">
                                <i class="gcl gcladd"></i>
                                <input type="file" name="file" accept="image/*" id="upload" multiple>
                            </div>
                        </div>
                        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
                             aria-labelledby="myLargeModalLabel">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!----------------------- 三个按钮 -------------------------------->
                <div class="form-group row">
                    <div class="col-lg-6 col-md-6" ></div>
                    <div class=" col-lg-4 col-md-4 row" style="padding-right: 0;" >
                        <div class="col">
                            <button id="cancel" type="button" class="btn btn-light col">返回</button>
                        </div>
                        <div class="col">
                            <button id="btn_save" type="submit" class="btn btn-danger col">保存</button>
                        </div>
                        <div class="col" style="padding-right: 0;" >
                            <button id="btn_insert" type="submit" class="btn btn-danger col">提交</button>
                        </div>
                    </div>

                </div>
            </form>

        </div>

    </div>
</div>

<script type="text/javascript" data-main="/main/main.js" th:src="@{/component/require@2.3.6/require-2.3.6.js}"></script>
<link type="text/css" rel="stylesheet" href="/component/uploadImg/css/uploadImg.css"
      th:src="@{/component/uploadImg/css/uploadImg.css}">

</body>
</html>