<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gythtglxt.dao.ChineseMedicineDOMapper">
  <resultMap id="BaseResultMap" type="com.gythtglxt.dataobject.ChineseMedicineDO">
    <id column="itemID" jdbcType="INTEGER" property="itemid" />
    <id column="itemCode" jdbcType="CHAR" property="itemcode" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="ALIAS" jdbcType="VARCHAR" property="alias" />
    <result column="CLASSIFICATION" jdbcType="VARCHAR" property="classification" />
    <result column="HARVESTING" jdbcType="VARCHAR" property="harvesting" />
    <result column="TASTE" jdbcType="VARCHAR" property="taste" />
    <result column="MER_TROPISM" jdbcType="VARCHAR" property="merTropism" />
    <result column="GOVERNANCE" jdbcType="VARCHAR" property="governance" />
    <result column="USAGE" jdbcType="VARCHAR" property="usage" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="USER_CODE" jdbcType="CHAR" property="userCode" />
    <result column="CREATER" jdbcType="VARCHAR" property="creater" />
    <result column="itemCreateAt" jdbcType="TIMESTAMP" property="itemcreateat" />
    <result column="UPDATER" jdbcType="VARCHAR" property="updater" />
    <result column="itemUpdateAt" jdbcType="TIMESTAMP" property="itemupdateat" />
  </resultMap>
  <resultMap id="BaseResultMapWithFiles" type="com.gythtglxt.dto.ChineseMedicineDto">
    <id column="itemID" jdbcType="INTEGER" property="itemid" />
    <id column="itemCode" jdbcType="CHAR" property="itemcode" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="ALIAS" jdbcType="VARCHAR" property="alias" />
    <result column="CLASSIFICATION" jdbcType="VARCHAR" property="classification" />
    <result column="HARVESTING" jdbcType="VARCHAR" property="harvesting" />
    <result column="TASTE" jdbcType="VARCHAR" property="taste" />
    <result column="MER_TROPISM" jdbcType="VARCHAR" property="merTropism" />
    <result column="GOVERNANCE" jdbcType="VARCHAR" property="governance" />
    <result column="USAGE" jdbcType="VARCHAR" property="usage" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="USER_CODE" jdbcType="CHAR" property="userCode" />
    <result column="CREATER" jdbcType="VARCHAR" property="creater" />
    <result column="itemCreateAt" jdbcType="TIMESTAMP" property="itemcreateat" />
    <result column="UPDATER" jdbcType="VARCHAR" property="updater" />
    <result column="itemUpdateAt" jdbcType="TIMESTAMP" property="itemupdateat" />
    <result column="FILE_PATH" jdbcType="VARCHAR" property="filePath" />
    <result column="FILE_NAME" jdbcType="VARCHAR" property="fileName" />
  </resultMap>
  <sql id="Base_Column_List">
    itemID, itemCode, NAME, ALIAS, CLASSIFICATION, HARVESTING, TASTE, MER_TROPISM, GOVERNANCE, 
    USAGE, STATUS, USER_CODE, CREATER, itemCreateAt, UPDATER, itemUpdateAt
  </sql>
  <sql id="SelectAll_Column_List">
    cm.itemID, cm.itemCode, cm.NAME, cm.ALIAS, cm.CLASSIFICATION, cm.HARVESTING, cm.TASTE, cm.MER_TROPISM, cm.GOVERNANCE,
    cm.USAGE, cm.STATUS, cm.USER_CODE, cm.CREATER, cm.itemCreateAt, cm.UPDATER, cm.itemUpdateAt
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.gythtglxt.dataobject.ChineseMedicineDOKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_natmeha_chinese_medicine
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.gythtglxt.dataobject.ChineseMedicineDOKey">
    delete from tb_natmeha_chinese_medicine
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.gythtglxt.dataobject.ChineseMedicineDO">
    insert into tb_natmeha_chinese_medicine (itemID, itemCode, NAME, 
      ALIAS, CLASSIFICATION, HARVESTING, 
      TASTE, MER_TROPISM, GOVERNANCE, 
      USAGE, STATUS, USER_CODE, 
      CREATER, itemCreateAt, UPDATER, 
      itemUpdateAt)
    values (#{itemid,jdbcType=INTEGER}, #{itemcode,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, 
      #{alias,jdbcType=VARCHAR}, #{classification,jdbcType=VARCHAR}, #{harvesting,jdbcType=VARCHAR}, 
      #{taste,jdbcType=VARCHAR}, #{merTropism,jdbcType=VARCHAR}, #{governance,jdbcType=VARCHAR}, 
      #{usage,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{userCode,jdbcType=CHAR}, 
      #{creater,jdbcType=VARCHAR}, #{itemcreateat,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR}, 
      #{itemupdateat,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gythtglxt.dataobject.ChineseMedicineDO">
    insert into tb_natmeha_chinese_medicine
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="itemid != null">
        itemID,
      </if>
      <if test="itemcode != null">
        itemCode,
      </if>
      <if test="name != null">
        `NAME`,
      </if>
      <if test="alias != null">
        ALIAS,
      </if>
      <if test="classification != null">
        CLASSIFICATION,
      </if>
      <if test="harvesting != null">
        HARVESTING,
      </if>
      <if test="taste != null">
        TASTE,
      </if>
      <if test="merTropism != null">
        MER_TROPISM,
      </if>
      <if test="governance != null">
        GOVERNANCE,
      </if>
      <if test="usage != null">
        `USAGE`,
      </if>
      <if test="status != null">
        `STATUS`,
      </if>
      <if test="userCode != null">
        USER_CODE,
      </if>
      <if test="creater != null">
        CREATER,
      </if>
      <if test="itemcreateat != null">
        itemCreateAt,
      </if>
      <if test="updater != null">
        UPDATER,
      </if>
      <if test="itemupdateat != null">
        itemUpdateAt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="itemid != null">
        #{itemid,jdbcType=INTEGER},
      </if>
      <if test="itemcode != null">
        #{itemcode,jdbcType=CHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="alias != null">
        #{alias,jdbcType=VARCHAR},
      </if>
      <if test="classification != null">
        #{classification,jdbcType=VARCHAR},
      </if>
      <if test="harvesting != null">
        #{harvesting,jdbcType=VARCHAR},
      </if>
      <if test="taste != null">
        #{taste,jdbcType=VARCHAR},
      </if>
      <if test="merTropism != null">
        #{merTropism,jdbcType=VARCHAR},
      </if>
      <if test="governance != null">
        #{governance,jdbcType=VARCHAR},
      </if>
      <if test="usage != null">
        #{usage,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="userCode != null">
        #{userCode,jdbcType=CHAR},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="itemcreateat != null">
        #{itemcreateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="itemupdateat != null">
        #{itemupdateat,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gythtglxt.dataobject.ChineseMedicineDO">
    update tb_natmeha_chinese_medicine
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="alias != null">
        ALIAS = #{alias,jdbcType=VARCHAR},
      </if>
      <if test="classification != null">
        CLASSIFICATION = #{classification,jdbcType=VARCHAR},
      </if>
      <if test="harvesting != null">
        HARVESTING = #{harvesting,jdbcType=VARCHAR},
      </if>
      <if test="taste != null">
        TASTE = #{taste,jdbcType=VARCHAR},
      </if>
      <if test="merTropism != null">
        MER_TROPISM = #{merTropism,jdbcType=VARCHAR},
      </if>
      <if test="governance != null">
        GOVERNANCE = #{governance,jdbcType=VARCHAR},
      </if>
      <if test="usage != null">
        `USAGE` = #{usage,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `STATUS` = #{status,jdbcType=VARCHAR},
      </if>
      <if test="userCode != null">
        USER_CODE = #{userCode,jdbcType=CHAR},
      </if>
      <if test="creater != null">
        CREATER = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="itemcreateat != null">
        itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        UPDATER = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="itemupdateat != null">
        itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP},
      </if>
    </set>
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gythtglxt.dataobject.ChineseMedicineDO">
    update tb_natmeha_chinese_medicine
    set NAME = #{name,jdbcType=VARCHAR},
      ALIAS = #{alias,jdbcType=VARCHAR},
      CLASSIFICATION = #{classification,jdbcType=VARCHAR},
      HARVESTING = #{harvesting,jdbcType=VARCHAR},
      TASTE = #{taste,jdbcType=VARCHAR},
      MER_TROPISM = #{merTropism,jdbcType=VARCHAR},
      GOVERNANCE = #{governance,jdbcType=VARCHAR},
      `USAGE` = #{usage,jdbcType=VARCHAR},
      `STATUS` = #{status,jdbcType=VARCHAR},
      USER_CODE = #{userCode,jdbcType=CHAR},
      CREATER = #{creater,jdbcType=VARCHAR},
      itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
      UPDATER = #{updater,jdbcType=VARCHAR},
      itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP}
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </update>

  <select id="selectAllChineseMedicine" resultMap="BaseResultMapWithFiles">
    SELECT
    <include refid="SelectAll_Column_List"/>
    ,
    f.FILE_NAME
    ,
    f.FILE_PATH
    FROM tb_natmeha_chinese_medicine cm left join tb_natmeha_file f
    on f.DATA_CODE = cm.itemCode
    WHERE
    <if test="status == 1">
      cm.STATUS in (0,1,2,4,6,7,8,9)
    </if>
    <if test="status == 2">
      cm.STATUS in (1,8)
    </if>
    <if test="status == 3">
      cm.STATUS in (3,8)
    </if>
    <if test="status == 4">
      cm.STATUS in (5,8)
    </if>
    <if test="userCode != null">
      and cm.USER_CODE = #{userCode}
    </if>
    order by cm.itemUpdateAt desc
    </select>

  <update id="changeStatusToChineseMedicine">
    update tb_natmeha_chinese_medicine
    <set>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR}
      </if>
    </set>
    where itemID = #{key.itemid,jdbcType=INTEGER}
    and itemCode = #{key.itemcode,jdbcType=CHAR}
  </update>

</mapper>