<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gythtglxt.dao.DoctorDOMapper">
    <resultMap id="BaseResultMap" type="com.gythtglxt.dataobject.DoctorDO">
        <id column="itemID" jdbcType="INTEGER" property="itemid"/>
        <id column="itemCode" jdbcType="CHAR" property="itemcode"/>
        <result column="DOCTOR_NAME" jdbcType="VARCHAR" property="doctorName"/>
        <result column="DOCTOR_TITLE" jdbcType="VARCHAR" property="doctorTitle"/>
        <result column="DOCTOR_TREATMENT" jdbcType="VARCHAR" property="doctorTreatment"/>
        <result column="DOCTOR_SORCE" jdbcType="DOUBLE" property="doctorSorce"/>
        <result column="DEPT_CODE" jdbcType="VARCHAR" property="deptCode"/>
        <result column="NUM_TYPE" jdbcType="VARCHAR" property="numType"/>
        <result column="USER_CODE" jdbcType="CHAR" property="userCode"/>
        <result column="CREATER" jdbcType="VARCHAR" property="creater"/>
        <result column="itemCreateAt" jdbcType="TIMESTAMP" property="itemcreateat"/>
        <result column="UPDATER" jdbcType="VARCHAR" property="updater"/>
        <result column="itemUpdateAt" jdbcType="TIMESTAMP" property="itemupdateat"/>
    </resultMap>
    <sql id="Base_Column_List">
    itemID, itemCode, DOCTOR_NAME, DOCTOR_TITLE, DOCTOR_TREATMENT, DOCTOR_SORCE, DEPT_CODE, 
    NUM_TYPE, USER_CODE, CREATER, itemCreateAt, UPDATER, itemUpdateAt
</sql>
    <select id="selectByPrimaryKey" parameterType="com.gythtglxt.dataobject.DoctorDOKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_natmeha_doctor
        where itemID = #{itemid,jdbcType=INTEGER}
        and itemCode = #{itemcode,jdbcType=CHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.gythtglxt.dataobject.DoctorDOKey">
    delete from tb_natmeha_doctor
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </delete>
    <insert id="insert" parameterType="com.gythtglxt.dataobject.DoctorDO">
    insert into tb_natmeha_doctor (itemID, itemCode, DOCTOR_NAME, 
      DOCTOR_TITLE, DOCTOR_TREATMENT, DOCTOR_SORCE, 
      DEPT_CODE, NUM_TYPE, USER_CODE, 
      CREATER, itemCreateAt, UPDATER, 
      itemUpdateAt)
    values (#{itemid,jdbcType=INTEGER}, #{itemcode,jdbcType=CHAR}, #{doctorName,jdbcType=VARCHAR}, 
      #{doctorTitle,jdbcType=VARCHAR}, #{doctorTreatment,jdbcType=VARCHAR}, #{doctorSorce,jdbcType=DOUBLE}, 
      #{deptCode,jdbcType=VARCHAR}, #{numType,jdbcType=VARCHAR}, #{userCode,jdbcType=CHAR}, 
      #{creater,jdbcType=VARCHAR}, #{itemcreateat,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR}, 
      #{itemupdateat,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.gythtglxt.dataobject.DoctorDO">
        insert into tb_natmeha_doctor
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="itemid != null">
                itemID,
            </if>
            <if test="itemcode != null">
                itemCode,
            </if>
            <if test="doctorName != null">
                DOCTOR_NAME,
            </if>
            <if test="doctorTitle != null">
                DOCTOR_TITLE,
            </if>
            <if test="doctorTreatment != null">
                DOCTOR_TREATMENT,
            </if>
            <if test="doctorSorce != null">
                DOCTOR_SORCE,
            </if>
            <if test="deptCode != null">
                DEPT_CODE,
            </if>
            <if test="numType != null">
                NUM_TYPE,
            </if>
            <if test="userCode != null">
                USER_CODE,
            </if>
            <if test="creater != null">
                CREATER,
            </if>
            <if test="itemcreateat != null">
                itemCreateAt,
            </if>
            <if test="updater != null">
                UPDATER,
            </if>
            <if test="itemupdateat != null">
                itemUpdateAt,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="itemid != null">
                #{itemid,jdbcType=INTEGER},
            </if>
            <if test="itemcode != null">
                #{itemcode,jdbcType=CHAR},
            </if>
            <if test="doctorName != null">
                #{doctorName,jdbcType=VARCHAR},
            </if>
            <if test="doctorTitle != null">
                #{doctorTitle,jdbcType=VARCHAR},
            </if>
            <if test="doctorTreatment != null">
                #{doctorTreatment,jdbcType=VARCHAR},
            </if>
            <if test="doctorSorce != null">
                #{doctorSorce,jdbcType=DOUBLE},
            </if>
            <if test="deptCode != null">
                #{deptCode,jdbcType=VARCHAR},
            </if>
            <if test="numType != null">
                #{numType,jdbcType=VARCHAR},
            </if>
            <if test="userCode != null">
                #{userCode,jdbcType=CHAR},
            </if>
            <if test="creater != null">
                #{creater,jdbcType=VARCHAR},
            </if>
            <if test="itemcreateat != null">
                #{itemcreateat,jdbcType=TIMESTAMP},
            </if>
            <if test="updater != null">
                #{updater,jdbcType=VARCHAR},
            </if>
            <if test="itemupdateat != null">
                #{itemupdateat,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.gythtglxt.dataobject.DoctorDO">
        update tb_natmeha_doctor
        <set>
            <if test="doctorName != null">
                DOCTOR_NAME = #{doctorName,jdbcType=VARCHAR},
            </if>
            <if test="doctorTitle != null">
                DOCTOR_TITLE = #{doctorTitle,jdbcType=VARCHAR},
            </if>
            <if test="doctorTreatment != null">
                DOCTOR_TREATMENT = #{doctorTreatment,jdbcType=VARCHAR},
            </if>
            <if test="doctorSorce != null">
                DOCTOR_SORCE = #{doctorSorce,jdbcType=DOUBLE},
            </if>
            <if test="deptCode != null">
                DEPT_CODE = #{deptCode,jdbcType=VARCHAR},
            </if>
            <if test="numType != null">
                NUM_TYPE = #{numType,jdbcType=VARCHAR},
            </if>
            <if test="userCode != null">
                USER_CODE = #{userCode,jdbcType=CHAR},
            </if>
            <if test="creater != null">
                CREATER = #{creater,jdbcType=VARCHAR},
            </if>
            <if test="itemcreateat != null">
                itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
            </if>
            <if test="updater != null">
                UPDATER = #{updater,jdbcType=VARCHAR},
            </if>
            <if test="itemupdateat != null">
                itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP},
            </if>
        </set>
        where itemID = #{itemid,jdbcType=INTEGER}
        and itemCode = #{itemcode,jdbcType=CHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.gythtglxt.dataobject.DoctorDO">
    update tb_natmeha_doctor
    set DOCTOR_NAME = #{doctorName,jdbcType=VARCHAR},
      DOCTOR_TITLE = #{doctorTitle,jdbcType=VARCHAR},
      DOCTOR_TREATMENT = #{doctorTreatment,jdbcType=VARCHAR},
      DOCTOR_SORCE = #{doctorSorce,jdbcType=DOUBLE},
      DEPT_CODE = #{deptCode,jdbcType=VARCHAR},
      NUM_TYPE = #{numType,jdbcType=VARCHAR},
      USER_CODE = #{userCode,jdbcType=CHAR},
      CREATER = #{creater,jdbcType=VARCHAR},
      itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
      UPDATER = #{updater,jdbcType=VARCHAR},
      itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP}
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </update>


    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_natmeha_doctor
    </select>

    <select id="selectByUserCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_natmeha_doctor
        WHERE USER_CODE = #{userCode}
    </select>
</mapper>