<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gythtglxt.dao.HotspotDOMapper">
  <resultMap id="BaseResultMap" type="com.gythtglxt.dataobject.HotspotDO">
    <id column="itemID" jdbcType="INTEGER" property="itemid" />
    <id column="itemCode" jdbcType="CHAR" property="itemcode" />
    <result column="HOTSPOT_TITLE" jdbcType="VARCHAR" property="hotspotTitle" />
    <result column="HOTSPOT_SOURCE" jdbcType="VARCHAR" property="hotspotSource" />
    <result column="HOTSPOT_AUTHOR" jdbcType="VARCHAR" property="hotspotAuthor" />
    <result column="DATA_STATUS" jdbcType="VARCHAR" property="dataStatus" />
    <result column="DATA_TYPE" jdbcType="VARCHAR" property="dataType" />
    <result column="USER_CODE" jdbcType="CHAR" property="userCode" />
    <result column="CREATER" jdbcType="VARCHAR" property="creater" />
    <result column="itemCreateAt" jdbcType="TIMESTAMP" property="itemcreateat" />
    <result column="UPDATER" jdbcType="VARCHAR" property="updater" />
    <result column="itemUpdateAt" jdbcType="TIMESTAMP" property="itemupdateat" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.gythtglxt.dataobject.HotspotDO">
     
    <result column="HOTSPOT_CONTENT" jdbcType="LONGVARCHAR" property="hotspotContent" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBAndFiles" type="com.gythtglxt.dto.HotspotDto">
    <result column="FILE_PATH" jdbcType="VARCHAR" property="filePath" />
    <result column="HOTSPOT_CONTENT" jdbcType="LONGVARCHAR" property="hotspotContent" />
  </resultMap>
  <sql id="Base_Column_List">
     
    itemID, itemCode, HOTSPOT_TITLE, HOTSPOT_SOURCE, HOTSPOT_AUTHOR, DATA_STATUS, DATA_TYPE, USER_CODE, CREATER, itemCreateAt,
    UPDATER, itemUpdateAt
  </sql>
  <sql id="Blob_Column_List">
     
    HOTSPOT_CONTENT
  </sql>
  <sql id="SelectAll_Column_List">
    h.itemID, h.itemCode, h.HOTSPOT_TITLE, h.HOTSPOT_SOURCE, h.HOTSPOT_AUTHOR, h.DATA_STATUS, h.DATA_TYPE, h.USER_CODE, h.CREATER, h.itemCreateAt,
    h.UPDATER, h.itemUpdateAt
  </sql>
  <sql id="SelectAllBlob_Column_List">
    h.HOTSPOT_CONTENT
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs">
     
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_natmeha_hotspot
    where itemID = #{key.itemid,jdbcType=INTEGER}
      and itemCode = #{key.itemcode,jdbcType=CHAR}
      and DATA_TYPE = #{type,jdbcType=CHAR}
  </select>
  <!--<select id="selectAll" resultMap="ResultMapWithBLOBs">-->
    <!--select-->
    <!--<include refid="Base_Column_List" />-->
    <!--,-->
    <!--<include refid="Blob_Column_List" />-->
    <!--from tb_natmeha_hotspot-->
    <!--where DATA_TYPE = #{type,jdbcType=VARCHAR}-->
      <!--and DATA_STATUS = #{status,jdbcType=VARCHAR}-->
  <!--</select>-->
  <select id="selectAll" resultMap="ResultMapWithBLOBAndFiles">
    select
    <include refid="SelectAll_Column_List" />
    ,
    <include refid="SelectAllBlob_Column_List" />
    ,
    f.FILE_PATH
    from tb_natmeha_hotspot h left join tb_natmeha_file f
    on f.DATA_CODE = h.itemCode
    where h.DATA_TYPE = #{type,jdbcType=VARCHAR}
    <if test="status == 1">
      and h.DATA_STATUS in (0,1,2,4,6,7,8,9)
    </if>
    <if test="status == 2">
      and h.DATA_STATUS in (1,8)
    </if>
    <if test="status == 3">
      and h.DATA_STATUS in (3,8)
    </if>
    <if test="status == 4">
      and h.DATA_STATUS in (5,8)
    </if>
    <if test="userCode != null">
      and h.USER_CODE = #{userCode}
    </if>
    order by h.itemUpdateAt desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.gythtglxt.dataobject.HotspotDOKey">
     
    delete from tb_natmeha_hotspot
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.gythtglxt.dataobject.HotspotDO">
     
    insert into tb_natmeha_hotspot (itemID, itemCode, HOTSPOT_TITLE,
      HOTSPOT_AUTHOR, HOTSPOT_AUTHOR
      DATA_STATUS, DATA_TYPE, USER_CODE, 
      CREATER, itemCreateAt, UPDATER, 
      itemUpdateAt, HOTSPOT_CONTENT)
    values (#{itemid,jdbcType=INTEGER}, #{itemcode,jdbcType=CHAR}, #{hotspotTitle,jdbcType=VARCHAR},
      #{hotspotSource,jdbcType=VARCHAR}, #{hotspotAuthor,jdbcType=VARCHAR},
      #{dataStatus,jdbcType=VARCHAR}, #{dataType,jdbcType=VARCHAR}, #{userCode,jdbcType=CHAR}, 
      #{creater,jdbcType=VARCHAR}, #{itemcreateat,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR}, 
      #{itemupdateat,jdbcType=TIMESTAMP}, #{hotspotContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gythtglxt.dataobject.HotspotDO">
     
    insert into tb_natmeha_hotspot
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="itemid != null">
        itemID,
      </if>
      <if test="itemcode != null">
        itemCode,
      </if>
      <if test="hotspotTitle != null">
        HOTSPOT_TITLE,
      </if>
      <if test="hotspotSource != null">
        HOTSPOT_SOURCE,
      </if>
      <if test="hotspotAuthor != null">
        HOTSPOT_AUTHOR,
      </if>
      <if test="dataStatus != null">
        DATA_STATUS,
      </if>
      <if test="dataType != null">
        DATA_TYPE,
      </if>
      <if test="userCode != null">
        USER_CODE,
      </if>
      <if test="creater != null">
        CREATER,
      </if>
      <if test="itemcreateat != null">
        itemCreateAt,
      </if>
      <if test="updater != null">
        UPDATER,
      </if>
      <if test="itemupdateat != null">
        itemUpdateAt,
      </if>
      <if test="hotspotContent != null">
        HOTSPOT_CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="itemid != null">
        #{itemid,jdbcType=INTEGER},
      </if>
      <if test="itemcode != null">
        #{itemcode,jdbcType=CHAR},
      </if>
      <if test="hotspotTitle != null">
        #{hotspotTitle,jdbcType=VARCHAR},
      </if>
      <if test="hotspotSource != null">
        #{hotspotSource,jdbcType=VARCHAR},
      </if>
      <if test="hotspotAuthor != null">
        #{hotspotAuthor,jdbcType=VARCHAR},
      </if>
      <if test="dataStatus != null">
        #{dataStatus,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null">
        #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="userCode != null">
        #{userCode,jdbcType=CHAR},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="itemcreateat != null">
        #{itemcreateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="itemupdateat != null">
        #{itemupdateat,jdbcType=TIMESTAMP},
      </if>
      <if test="hotspotContent != null">
        #{hotspotContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gythtglxt.dataobject.HotspotDO">
     
    update tb_natmeha_hotspot
    <set>
      <if test="hotspotTitle != null">
        HOTSPOT_TITLE = #{hotspotTitle,jdbcType=VARCHAR},
      </if>
      <if test="hotspotSource != null">
        HOTSPOT_SOURCE = #{hotspotSource,jdbcType=VARCHAR},
      </if>
      <if test="hotspotAuthor != null">
        HOTSPOT_AUTHOR = #{hotspotAuthor,jdbcType=VARCHAR},
      </if>
      <if test="dataStatus != null">
        DATA_STATUS = #{dataStatus,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null">
        DATA_TYPE = #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="userCode != null">
        USER_CODE = #{userCode,jdbcType=CHAR},
      </if>
      <if test="creater != null">
        CREATER = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="itemcreateat != null">
        itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        UPDATER = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="itemupdateat != null">
        itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP},
      </if>
      <if test="hotspotContent != null">
        HOTSPOT_CONTENT = #{hotspotContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.gythtglxt.dataobject.HotspotDO">
     
    update tb_natmeha_hotspot
    set HOTSPOT_TITLE = #{hotspotTitle,jdbcType=VARCHAR},
      HOTSPOT_SOURCE = #{hotspotSource,jdbcType=VARCHAR},
      HOTSPOT_AUTHOR = #{hotspotAuthor,jdbcType=VARCHAR},
      DATA_STATUS = #{dataStatus,jdbcType=VARCHAR},
      DATA_TYPE = #{dataType,jdbcType=VARCHAR},
      USER_CODE = #{userCode,jdbcType=CHAR},
      CREATER = #{creater,jdbcType=VARCHAR},
      itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
      UPDATER = #{updater,jdbcType=VARCHAR},
      itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP},
      HOTSPOT_CONTENT = #{hotspotContent,jdbcType=LONGVARCHAR}
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gythtglxt.dataobject.HotspotDO">
     
    update tb_natmeha_hotspot
    set HOTSPOT_TITLE = #{hotspotTitle,jdbcType=VARCHAR},
      HOTSPOT_SOURCE = #{hotspotSource,jdbcType=VARCHAR},
      HOTSPOT_AUTHOR = #{hotspotAuthor,jdbcType=VARCHAR},
      DATA_STATUS = #{dataStatus,jdbcType=VARCHAR},
      DATA_TYPE = #{dataType,jdbcType=VARCHAR},
      USER_CODE = #{userCode,jdbcType=CHAR},
      CREATER = #{creater,jdbcType=VARCHAR},
      itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
      UPDATER = #{updater,jdbcType=VARCHAR},
      itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP}
    where itemID = #{itemid,jdbcType=INTEGER}
      and itemCode = #{itemcode,jdbcType=CHAR}
  </update>
</mapper>