<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gythtglxt.dao.ProjectMapper">
    <resultMap id="BaseResultMap" type="com.gythtglxt.dataobject.Project">
        <id column="itemID" jdbcType="INTEGER" property="itemid"/>
        <id column="itemCode" jdbcType="CHAR" property="itemcode"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="CONTENT" jdbcType="LONGVARCHAR" property="content"/>
        <result column="DATA_TYPE" jdbcType="VARCHAR" property="dataType"/>
        <result column="PRICE" jdbcType="INTEGER" property="price"/>
        <result column="DATA_STATUS" jdbcType="VARCHAR" property="dataStatus"/>
        <result column="USER_CODE" jdbcType="CHAR" property="userCode"/>
        <result column="VISIT_NUM" jdbcType="INTEGER" property="visitNum"/>
        <result column="CREATER" jdbcType="VARCHAR" property="creater"/>
        <result column="itemCreateAt" jdbcType="TIMESTAMP" property="itemcreateat"/>
        <result column="UPDATER" jdbcType="VARCHAR" property="updater"/>
        <result column="itemUpdateAt" jdbcType="TIMESTAMP" property="itemupdateat"/>
    </resultMap>
    <resultMap id="BaseResultMapWithFiles" type="com.gythtglxt.dto.ProjectDto">
        <id column="itemID" jdbcType="INTEGER" property="itemid"/>
        <id column="itemCode" jdbcType="CHAR" property="itemcode"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="CONTENT" jdbcType="LONGVARCHAR" property="content"/>
        <result column="DATA_TYPE" jdbcType="VARCHAR" property="dataType"/>
        <result column="PRICE" jdbcType="INTEGER" property="price"/>
        <result column="DATA_STATUS" jdbcType="VARCHAR" property="dataStatus"/>
        <result column="USER_CODE" jdbcType="CHAR" property="userCode"/>
        <result column="VISIT_NUM" jdbcType="INTEGER" property="visitNum"/>
        <result column="CREATER" jdbcType="VARCHAR" property="creater"/>
        <result column="itemCreateAt" jdbcType="TIMESTAMP" property="itemcreateat"/>
        <result column="UPDATER" jdbcType="VARCHAR" property="updater"/>
        <result column="itemUpdateAt" jdbcType="TIMESTAMP" property="itemupdateat"/>
        <result column="HOSPITAL_NAME" jdbcType="VARCHAR" property="hospitalName" />
        <collection property="filePath" ofType="java.lang.String">
            <constructor>
                <arg column="FILE_PATH"/>
            </constructor>
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
        itemID,
        itemCode,
        `NAME`,
        CONTENT,
        DATA_TYPE,
        PRICE,
        DATA_STATUS,
        USER_CODE,
        VISIT_NUM,
        CREATER,
        itemCreateAt,
        UPDATER,
        itemUpdateAt
    </sql>
    <sql id="SelectAll_Column_List">
        p.itemID,
        p.itemCode,
        p.NAME,
        p.CONTENT,
        p.DATA_TYPE,
        p.PRICE,
        p.DATA_STATUS,
        p.USER_CODE,
        p.VISIT_NUM,
        p.CREATER,
        p.itemCreateAt,
        p.UPDATER,
        p.itemUpdateAt
    </sql>
    <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_natmeha_project
        where itemID = #{itemid,jdbcType=INTEGER}
          and itemCode = #{itemcode,jdbcType=CHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="map">
        delete
        from tb_natmeha_project
        where itemID = #{itemid,jdbcType=INTEGER}
          and itemCode = #{itemcode,jdbcType=CHAR}
    </delete>
    <insert id="insertSelective" keyColumn="itemID" keyProperty="itemid"
            parameterType="com.gythtglxt.dataobject.Project" useGeneratedKeys="true">
        insert into tb_natmeha_project
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="itemcode != null">
                itemCode,
            </if>
            <if test="name != null">
                `NAME`,
            </if>
            <if test="content != null">
                CONTENT,
            </if>
            <if test="dataType != null">
                DATA_TYPE,
            </if>
            <if test="price != null">
                PRICE,
            </if>
            <if test="dataStatus != null">
                DATA_STATUS,
            </if>
            <if test="userCode != null">
                USER_CODE,
            </if>
            <if test="visitNum != null">
                VISIT_NUM,
            </if>
            <if test="creater != null">
                CREATER,
            </if>
            <if test="itemcreateat != null">
                itemCreateAt,
            </if>
            <if test="updater != null">
                UPDATER,
            </if>
            <if test="itemupdateat != null">
                itemUpdateAt,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="itemcode != null">
                #{itemcode,jdbcType=CHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
            <if test="dataType != null">
                #{dataType,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=INTEGER},
            </if>
            <if test="dataStatus != null">
                #{dataStatus,jdbcType=VARCHAR},
            </if>
            <if test="userCode != null">
                #{userCode,jdbcType=CHAR},
            </if>
            <if test="visitNum != null">
                #{visitNum,jdbcType=INTEGER},
            </if>
            <if test="creater != null">
                #{creater,jdbcType=VARCHAR},
            </if>
            <if test="itemcreateat != null">
                #{itemcreateat,jdbcType=TIMESTAMP},
            </if>
            <if test="updater != null">
                #{updater,jdbcType=VARCHAR},
            </if>
            <if test="itemupdateat != null">
                #{itemupdateat,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.gythtglxt.dataobject.Project">
        update tb_natmeha_project
        <set>
            <if test="name != null">
                `NAME` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                CONTENT = #{content,jdbcType=LONGVARCHAR},
            </if>
            <if test="dataType != null">
                DATA_TYPE = #{dataType,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                PRICE = #{price,jdbcType=INTEGER},
            </if>
            <if test="dataStatus != null">
                DATA_STATUS = #{dataStatus,jdbcType=VARCHAR},
            </if>
            <if test="userCode != null">
                USER_CODE = #{userCode,jdbcType=CHAR},
            </if>
            <if test="visitNum != null">
                VISIT_NUM = #{visitNum,jdbcType=INTEGER},
            </if>
            <if test="creater != null">
                CREATER = #{creater,jdbcType=VARCHAR},
            </if>
            <if test="itemcreateat != null">
                itemCreateAt = #{itemcreateat,jdbcType=TIMESTAMP},
            </if>
            <if test="updater != null">
                UPDATER = #{updater,jdbcType=VARCHAR},
            </if>
            <if test="itemupdateat != null">
                itemUpdateAt = #{itemupdateat,jdbcType=TIMESTAMP},
            </if>
        </set>
        where itemID = #{itemid,jdbcType=INTEGER}
          and itemCode = #{itemcode,jdbcType=CHAR}
    </update>
    <select id="selectproAll" resultMap="BaseResultMapWithFiles">
        <if test="status != 1">
            select p2.*,hospital.HOSPITAL_NAME from (select
            <include refid="SelectAll_Column_List"/>
            ,
                    f.FILE_PATH
                    from tb_natmeha_project p
                                 LEFT JOIN tb_natmeha_file f on f.DATA_CODE = p.itemCode
                    where DATA_TYPE = 0
            <if test="status == 1">
                and p.DATA_STATUS in (0, 1, 2, 4, 5, 6, 7, 8, 9)
            </if>
            <if test="status == 2">
                and p.DATA_STATUS in (1, 8)
            </if>
            <if test="status == 3">
                and p.DATA_STATUS in (3, 8)
            </if>
            <if test="status == 4">
                and p.DATA_STATUS in (5, 8)
            </if>
            <if test="userCode != null">
                and p.USER_CODE = #{userCode}
            </if>
            order by p.itemUpdateAt desc) p2 , user, tb_natmeha_hospital hospital
            where p2.USER_CODE = user.itemCode and user.ORG_CODE = hospital.itemCode
            <if test="isCity != null">
                and hospital.HOSPITAL_CITY = #{addrCity}
            </if>
            <if test="isCountry != null">
                and hospital.HOSPITAL_COUNTRY = #{addrCountry}
            </if>
        </if>


        <if test="status == 1">
            select
            <include refid="SelectAll_Column_List"/>
            ,
                    f.FILE_PATH
                    from tb_natmeha_project p
                                 LEFT JOIN tb_natmeha_file f on f.DATA_CODE = p.itemCode
                    where DATA_TYPE = 0
                and p.DATA_STATUS in (0, 1, 2, 4, 5, 6, 7, 8, 9)
            <if test="userCode != null">
                and p.USER_CODE = #{userCode}
            </if>
            order by p.itemUpdateAt desc
        </if>
    </select>
    <select id="selectchaAll" resultMap="BaseResultMapWithFiles">
        <if test="status != 1">
            select p2.*,hospital.HOSPITAL_NAME from (select
            <include refid="SelectAll_Column_List"/>
            ,
                    f.FILE_PATH
                    from tb_natmeha_project p
                                 LEFT JOIN tb_natmeha_file f on f.DATA_CODE = p.itemCode
                    where DATA_TYPE = 1
            <if test="status == 1">
                and p.DATA_STATUS in (0, 1, 2, 4, 5, 6, 7, 8, 9)
            </if>
            <if test="status == 2">
                and p.DATA_STATUS in (1, 8)
            </if>
            <if test="status == 3">
                and p.DATA_STATUS in (3, 8)
            </if>
            <if test="status == 4">
                and p.DATA_STATUS in (5, 8)
            </if>
            <if test="userCode != null">
                and p.USER_CODE = #{userCode}
            </if>
            order by p.itemUpdateAt desc) p2 , user, tb_natmeha_hospital hospital
            where p2.USER_CODE = user.itemCode and user.ORG_CODE = hospital.itemCode
            <if test="isCity != null">
                and hospital.HOSPITAL_CITY = #{addrCity}
            </if>
            <if test="isCountry != null">
                and hospital.HOSPITAL_COUNTRY = #{addrCountry}
            </if>
        </if>


        <if test="status == 1">
            select
            <include refid="SelectAll_Column_List"/>
            ,
                    f.FILE_PATH
                    from tb_natmeha_project p
                                 LEFT JOIN tb_natmeha_file f on f.DATA_CODE = p.itemCode
                    where DATA_TYPE = 1
                and p.DATA_STATUS in (0, 1, 2, 4, 5, 6, 7, 8, 9)
            <if test="userCode != null">
                and p.USER_CODE = #{userCode}
            </if>
            order by p.itemUpdateAt desc
        </if>
    </select>
    <select id="selCityIdByItemCode" resultType="java.lang.String">
        select CITYID from user where itemCode = #{itemCode}
    </select>
</mapper>